<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Betty Bot</title>
  </head>
  <body>
    <ul>
      <li><%= @reply %></li>
    </ul>
    <form action="/" method="post">
      <textarea name="message"></textarea>
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
