<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Betty Bot</title>
  </head>
  <body>
    <% unless @message.nil? %>
      <ul>
        <li>[<%= @message.time %>] <%= @message.author %>: <%= @message.text %></li>
      </ul>
    <% end %>
    <form action="/" method="post">
      <textarea name="message"></textarea>
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
